body {
    background-color: #00BCD4;
    font-family: "Roboto", "Arial", sans-serif;
}

.container {
    max-width: 960px;
    width: 80%;
    margin: 4em auto;
}

.panel {
    width: 50%;
    min-height: 15em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FCFCFC;
    padding: 3em;
    background-color: #FCFCFC;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #333333;
}

.question-box {
    margin-bottom: 1.5em;
}

.centered {
    text-align: center;
}

.hidden {
    display: none;
}

.correct {
    border: 1px solid green;
}

.incorrect {
    border: 1px solid red;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

input[type="radio"] {
    margin-right: 1em;
}

button {
    background-color: #00BCD4;
    color: #FFFFFF;
    border: 1px solid #00BCD4;
    border-radius: 5px;
    padding: .5em;
}

button[disabled="disabled"] {
    opacity: 0.6;
}