.container {
    max-width: 960px;
    width: 80%;
    margin: 4em auto;
}

.panel {
    width: 50%;
    min-height: 15em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 3em;
}

.question-box {
    margin-bottom: 1em;
}

.centered {
    text-align: center;
}

.hidden {
    display: none;
}

.correct {
    border: 1px solid green;
}

.incorrect {
    border: 1px solid red;
}

ul {
    list-style-type: none;
}